---
import Layout from "../../layouts/Layout.astro";
import data from "./_notes.json";
import { dateFormatter } from "../../utils/dateFormatter.mjs";

// Get all of the notes and generate paths based on the title

export async function getStaticPaths() {
	const allNotes = data;

	const paths = allNotes.map((note) => ({
		params: { note: note.title.toLowerCase().replace(/\s+/g, "-") },
		props: { notes: allNotes },
	}));

	return paths;
}

const { note } = Astro.params;
const { notes } = Astro.props;

// Find the original note object based on the slug (hyphenated version)
const filteredNotes = notes.filter(
	(noteItem) => noteItem.title.toLowerCase().replace(/\s+/g, "-") === note,
);

// Extract the original title from the first filtered note (assuming there's only one match)
const title = filteredNotes[0]?.title;
---

<Layout pageTitle={title}>
	<div class="wrapper">
		<header class="border flow" data-wrapper-type="inner">
			<h1>{title}</h1>
		</header>
		<article class="prose flow" data-wrapper-type="inner">
			{
				filteredNotes.map((note) => (
					<>
						<small>
							<time datetime={note.pubDate}>
								{dateFormatter(note.pubDate)}
							</time>
						</small>
						{/*set:html allows passing HTML from the JSON string*/}
						<p set:html={note.description} />
						{note.url && (
							<p>
								<a href={note.url}>Link</a>
							</p>
						)}
					</>
				))
			}
			<p><a href="/notes/">Back to the notes</a></p>
		</article>
	</div>
</Layout>
