---
import Layout from "../../layouts/Layout.astro";
import data from "./_notes.json";
import { dateFormatter } from "../../utils/dateFormatter.mjs";

const pageTitle = "Notes";
const heading = "Notes";
---

<Layout pageTitle={pageTitle}>
	<div class="wrapper">
		<header class="page-header flow" data-wrapper-type="inner">
			<h1>{heading}</h1>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit.</p>
		</header>
		<div class="prose flow" data-wrapper-type="inner">
			{
				data.map((note) => {
					return (
						<>
							<h2>{note.title}</h2>
							<small>{dateFormatter(note.pubDate)}</small>
							<p>{note.description}</p>
							{note.url ? (
								<p>
									<a href={note.url}>{note.urlText}</a>
								</p>
							) : null}
						</>
					);
				})
			}
		</div>
	</div>
</Layout>
