---
import Layout from "../../layouts/Layout.astro";
import PageHeader from "../../components/PageHeader.astro";
import data from "./_notes.json";
import { dateFormatter } from "../../utils/dateFormatter.mjs";
import { slugGenerator } from "../../utils/slugGenerator.mjs";

const pageTitle = "Notes";
const heading = "Notes";
const description = "Microblogs and today I learned (TIL).";
---

<Layout pageTitle={pageTitle}>
  <div class="wrapper">
    <PageHeader heading={heading} description={description} />
    {
      data.map((note) => {
        const slug = slugGenerator(note.title);
        return (
          <article class="border" aria-label="note" data-wrapper-type="inner">
            <div class="prose flow">
              <h2>
                <a href={`/notes/${slug}`}>{note.title}</a>
              </h2>
              <div>
                <small>
                  <time datetime={note.pubDate}>
                    {dateFormatter(note.pubDate)}
                  </time>
                </small>
              </div>
              {/*set:html allows passing HTML from the JSON string*/}
              <p set:html={note.description} />
              {
                /* Only show external link if it exists in the JSON file */
                note.url && (
                  <p>
                    <a href={note.url}>{note.url}</a>
                  </p>
                )
              }
            </div>
          </article>
        );
      })
    }
  </div>
</Layout>
