---
import Layout from "../../layouts/Layout.astro";
import { dateFormatter } from "../../utils/dateFormatter.mjs";
import PageHeader from "../../components/PageHeader.astro";

const allPosts = Object.values(import.meta.glob("./*.md", { eager: true }));
// Sort the posts in most recent order
const sortedPosts = allPosts.sort((a: any, b: any) => {
  return b.frontmatter.pubDate.localeCompare(a.frontmatter.pubDate);
});

const pageTitle = "Notes";
const heading = pageTitle;
---

<Layout pageTitle={pageTitle}>
  <div class="wrapper">
    <PageHeader heading={heading} />
    <section data-wrapper-type="inner" aria-labelledby="page title">
      <div class="space stack">
        {
          sortedPosts.map((post: any) => (
            <article class="flow">
              <h2>
                <a href={post.url}>{post.frontmatter.title}</a>
              </h2>
              <small>
                <time datetime={post.frontmatter.pubDate}>
                  {dateFormatter(post.frontmatter.pubDate)}
                </time>
                | {post.frontmatter.category}
              </small>
            </article>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
