---
import Layout from "../../layouts/Layout.astro";
import PageHeader from "../../components/PageHeader.astro";
import data from "./_notes.json";
import { dateFormatter } from "../../utils/dateFormatter.mjs";

const pageTitle = "Notes";
const heading = "Notes";
const description = "lorem ipsum description.";
---

<Layout pageTitle={pageTitle}>
	<div class="wrapper">
		<PageHeader heading={heading} description={description} />
		<div class="prose flow" data-wrapper-type="inner">
			{
				data.map((note) => {
					return (
						<>
							<h2>{note.title}</h2>
							<small>{dateFormatter(note.pubDate)}</small>
							<p>{note.description}</p>
							{note.url ? (
								<p>
									<a href={note.url}>{note.urlText}</a>
								</p>
							) : null}
						</>
					);
				})
			}
		</div>
	</div>
</Layout>
