---
import Layout from "../../layouts/Layout.astro";
import { dateFormatter } from "../../utils/dateFormatter.mjs";
import PageHeader from "../../components/PageHeader.astro";

const allPosts = Object.values(import.meta.glob("./*.md", { eager: true }));
// Sort the posts in most recent order
const sortedPosts = allPosts.sort((a: any, b: any) => {
  return b.frontmatter.pubDate.localeCompare(a.frontmatter.pubDate);
});

const pageTitle = "Blog";
const heading = pageTitle;
---

<Layout pageTitle={pageTitle}>
  <div class="wrapper">
    <PageHeader heading={heading} />
    <article aria-labelledby="page title">
      {
        sortedPosts.map((post: any) => (
          <div class="border" data-wrapper-type="inner">
            <div class="prose flow">
              <h2>
                <a href={post.url}>{post.frontmatter.title}</a>
              </h2>
              <div>
                <small>
                  <time datetime={post.frontmatter.pubDate}>
                    {dateFormatter(post.frontmatter.pubDate)}
                  </time>
                  | {post.frontmatter.category}
                </small>
              </div>
              <p>{post.frontmatter.description}</p>
            </div>
          </div>
        ))
      }
    </article>
  </div>
</Layout>
