---
import Layout from "../../layouts/Layout.astro";
import PageHeader from "../../components/PageHeader.astro";

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../writing/*.md", { eager: true }),
  );
  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const description = "All the posts witht his tag.";
---

<Layout pageTitle={tag}>
  <div class="wrapper">
    <PageHeader heading={tag} description={description} />
    <article data-wrapper-type="inner">
      <ul>
        {
          posts.map((post: any) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        }
      </ul>
      <p>Or view all <a href="/tags/">Tags</a>.</p>
    </article>
  </div>
</Layout>
