---
import Layout from "../../layouts/Layout.astro";
import PageHeader from "../../components/PageHeader.astro";

const allPosts = Object.values(
  import.meta.glob("../writing/*.md", { eager: true }),
);
const tags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
const pageTitle = "Tag Index";
const heading = "Tags";
const description = "lorem description";
---

<Layout pageTitle={pageTitle}>
  <div class="wrapper">
    <PageHeader heading={heading} description={description} />
    <div data-wrapper-type="inner">
      <ul>
        {
          tags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
