---
import Layout from "../../layouts/Layout.astro";
import data from "./_links.json";

const pageTitle = "Links";
const heading = "Links";
---

<Layout pageTitle={pageTitle}>
	<div class="wrapper flow">
		<header class="page-header with-sidebar flow" data-wrapper-type="inner">
			<h1>{heading}</h1>
			<aside>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit.</p>
			</aside>
		</header>
		<div class="prose flow" data-wrapper-type="inner">
		{
			data.map((section) => {
				return (
					<>
						<h2>{section.title}</h2>
						<p>{section.description}</p>
						{section.links.map((link) => (
							<h3><a href={`${link.url}`}>{link.title}</a></h3>
							<p>{link.description}</p>
						))}
					</>
				);
			})
		}
		</div>
	</div>
</Layout>
