---
import { Fragment } from "astro/jsx-runtime";
import Layout from "../../layouts/Layout.astro";
import PageHeader from "../../components/PageHeader.astro";
import data from "./_links.json";

const pageTitle = "Links";
const heading = pageTitle;
---

<Layout pageTitle={pageTitle}>
	<div class="wrapper">
		<PageHeader heading={heading} />
		<article data-wrapper-type="inner" aria-label="related links">
			<div class="space stack">
				{
					data.map((section) => {
						return (
							<article class="flow prose">
								<h2>{section.title}</h2>
								<p>{section.description}</p>
								<ul>
									{section.links
										.sort((a, b) =>
											a.title.localeCompare(b.title),
										) // Sort links alphabetically by title
										.map((link) => (
											<li>
												<a href={link.url}>
													{link.title}
												</a>{" "}
												- {/* Use Fragment to inject */}
												<Fragment
													set:html={link.description}
												/>
											</li>
										))}
								</ul>
							</article>
						);
					})
				}
			</div>
		</article>
	</div>
</Layout>
