---
import Layout from "./Layout.astro";
import { dateFormatter } from "../utils/dateFormatter.mjs";

const { frontmatter, headings } = Astro.props;

// Get all of the posts
const allPosts = Object.values(
	import.meta.glob("../pages/writing/*.md", { eager: true }),
);

// Find all of the posts that have at least one tag in common with the current post
const allRelatedPosts = allPosts.filter((post: any) => {
	return (
		post.frontmatter.title !== frontmatter.title &&
		post.frontmatter.tags.some((tag: string) =>
			frontmatter.tags.includes(tag),
		)
	);
});

// Only show 3 related posts
const relatedPosts = allRelatedPosts.slice(0, 3);

// Check if there are related posts so that the section can be appended to the table of contents
const hasRelatedPosts = relatedPosts.length > 0;
---

<Layout pageTitle={frontmatter.title}>
	<div class="wrapper">
		<header class="switcher border" data-wrapper-type="inner">
			<div>
				<p>{frontmatter.category}</p>
				<h1>{frontmatter.title}</h1>
				<small>
					<time datetime={frontmatter.pubDate}
						>{dateFormatter(frontmatter.pubDate)}</time
					>
				</small>
			</div>
			<div>
				<p>Topics</p>
				<ul>
					{frontmatter.tags.map((tag: string) => <li>{tag}</li>)}
				</ul>
			</div>
			<nav aria-label="article navigation">
				<p>Table of contents</p>
				<ol>
					<!-- This long block checks for h2 and h3 headings. If there are h3's, a nested list is added to the TOC to accommodate, if there aren't, the nested list is ignored. It's only checking up to h3's.  -->
					{
						headings.map((heading: any) => {
							if (heading.depth === 2) {
								const subHeadings = headings.filter(
									(subHeading: any) =>
										subHeading.depth === 3 &&
										headings.indexOf(subHeading) >
											headings.indexOf(heading),
								);

								return (
									<li>
										<a href={`#${heading.slug}`}>
											{heading.text}
										</a>

										{subHeadings.length > 0 && (
											<ol>
												{subHeadings.map(
													(subHeading: any) => {
														return (
															<li>
																<a
																	href={`#${subHeading.slug}`}
																>
																	{
																		subHeading.text
																	}
																</a>
															</li>
														);
													},
												)}
											</ol>
										)}
									</li>
								);
							}

							return null; // Only process h2's if there are no h3's
						})
					}
					<!-- And this block adds a related posts section to the TOC if they exist -->
					{
						hasRelatedPosts && (
							<li>
								<a href="#related-posts">Related posts</a>
							</li>
						)
					}
				</ol>
			</nav>
		</header>
	</div>
	<article class="wrapper region prose flow">
		<p class="lede">
			<em>{frontmatter.description}</em>
		</p>
		<slot />
		<div class="region prose flow">
			{
				hasRelatedPosts ? (
					<>
						<hr />
						<div class="region prose flow">
							<h2 id="related-posts">Related posts</h2>
							<ul>
								{relatedPosts.map((post: any) => (
									<li>
										<a href={post.url}>
											{post.frontmatter.title}
										</a>
									</li>
								))}
							</ul>
						</div>
					</>
				) : null
			}
			<hr />
			<div class="region prose flow">
				<p><a href="/writing/">Back to writing</a></p>
			</div>
		</div>
	</article>
</Layout>
