---
import Layout from "./Layout.astro";
import { dateFormatter } from "../utils/dateFormatter.mjs";

const { frontmatter, headings } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
	<div class="wrapper">
		<div class="switcher article-header" data-wrapper-type="inner">
			<div>
				<p>{frontmatter.category}</p>
				<h1>{frontmatter.title}</h1>
				<small>{dateFormatter(frontmatter.pubDate)}</small>
			</div>
			<div>
				<p>Topics</p>
				<ul>
					{frontmatter.tags.map((tag: string) => <li>{tag}</li>)}
				</ul>
			</div>
			<nav aria-label="article navigation">
				<p>Table of contents</p>
				<ol>
					{
						headings.map((heading: any) => (
							<li>
								<a href={`#${heading.slug}`}>{heading.text}</a>
							</li>
						))
					}
				</ol>
			</nav>
		</div>
	</div>
	<div class="wrapper region prose flow">
		<p class="lede">
			<em>{frontmatter.description}</em>
		</p>
		<slot />
	</div>
	<div class="wrapper region prose flow">
		<p><a href="#top">Back to top</a></p>
	</div>
</Layout>
