---
import Layout from "./Layout.astro";
import { dateFormatter } from "../utils/dateFormatter.mjs";

const { frontmatter, headings } = Astro.props;

const allPosts = Object.values(
	import.meta.glob("../pages/writing/*.md", { eager: true }),
);

const allRelatedPosts = allPosts.filter((post: any) => {
	return (
		post.frontmatter.title !== frontmatter.title &&
		post.frontmatter.tags.some((tag: string) =>
			frontmatter.tags.includes(tag),
		)
	);
});

const relatedPosts = allRelatedPosts.slice(0, 3);
---

<Layout pageTitle={frontmatter.title}>
	<div class="wrapper">
		<header class="switcher border" data-wrapper-type="inner">
			<div>
				<p>{frontmatter.category}</p>
				<h1>{frontmatter.title}</h1>
				<small>
					<time datetime={frontmatter.pubDate}>{dateFormatter(frontmatter.pubDate)}
					</time>
				</small>
			</div>
			<div>
				<p>Topics</p>
				<ul>
					{frontmatter.tags.map((tag: string) => <li>{tag}</li>)}
				</ul>
			</div>
			<nav aria-label="article navigation">
				<p>Table of contents</p>
				<ol>
					{
						headings.map((heading: any) => (
							<li>
								<a href={`#${heading.slug}`}>{heading.text}</a>
							</li>
						))
					}
				</ol>
			</nav>
		</header>
	</div>
	<article class="wrapper region prose flow">
		<p class="lede">
			<em>{frontmatter.description}</em>
		</p>
		<slot />
		<div class="region prose flow">
				{
					relatedPosts.length > 0 ? (
						<hr />
						<div class="region prose flow">
							<h2>Related</h2>
								<ul>
									{relatedPosts.map((post: any) => (
										<li>
											<a href={post.url}>
												{post.frontmatter.title}
											</a>
										</li>
									))}
								</ul>
						</div>
					) : null
				}
			<hr />
			<div class="region prose flow">
				<p><a href="/writing/">Back to writing</a></p>
			</div>
		</div>
	</article>
</Layout>
