---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title} heading={frontmatter.title}>
	<div class="wrapper region prose flow">
		<p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
		<p class="lede"><em>{frontmatter.description}</em></p>
		<slot />
		<p>Tags:</p>
		<ul>
			{
				frontmatter.tags.map((tag: string) => (
					<li>
						<a href={`/tags/${tag}`}>{tag}</a>
					</li>
				))
			}
		</ul>
	</div>
	<div class="wrapper prose flow">
		<p><a href="#top">Back to top</a></p>
	</div>
</Layout>
